.type-post,
.type-page,
.type-attachment  {
	margin: 0 0 2.5em 0;
	max-width: 100%;
}

.archive-title,
.page-title,
.entry-title {
	display: inline;
	margin: 0;
	padding: 0;
	color: #111133;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	font-weight: bold;
	font-size: 40px;
	font-size: 2.5rem;
	font-family: 'Roboto Slab', Georgia, Times New Roman;
}

.entry-title a:link,
.entry-title a:visited {
	color: #111133;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.entry-title a:hover,
.entry-title a:active {
	color: #4477aa;
}

.entry-content {
	font-size: 17px;
	font-size: 1.0625rem;
}

.entry-content a {
	text-decoration: underline;
}

.wp-post-image {
	margin: 0 0 0.5em;
}

/* Read more Link */
.more-link {
	display: inline-block;
	margin: 0;
	padding: 0.3em 0.8em;
	background: #111133;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	font-size: 0.875rem;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.more-link:link,
.more-link:visited  {
	color: #fff;
}

.more-link:hover,
.more-link:active {
	background: #4477aa;
}

.entry-content .more-link {
	text-decoration: none;
}

/* Page Links */
.page-links {
	margin: 0 0 1.5em;
	word-spacing: 0.75em;
	font-weight: bold;
}

/*--------------------------------------------------------------
## 12.2 - Entry Meta
--------------------------------------------------------------*/
.entry-meta {
	margin: 0.25em 0 0;
	color: #888;
	font-size: 16px;
	font-size: 1rem;
}

.entry-meta a:link,
.entry-meta a:visited {
	color: #888;
}

.entry-meta a:hover,
.entry-meta a:active {
	color: #444;
}

.entry-meta span:after {
	margin-left: 0.2em;
	content: "\002F";
}

.entry-meta span:last-child:after {
	display: none;
}

/* Hide post meta if they are deactivated in settings */
body.date-hidden .type-post .entry-meta .meta-date,
body.author-hidden .type-post .entry-meta .meta-author,
body.categories-hidden .type-post .entry-meta .meta-category {
	 position: absolute;
	 clip: rect(1px, 1px, 1px, 1px);
}

body.author-hidden.categories-hidden .type-post .entry-meta .meta-date:after,
body.categories-hidden .type-post .entry-meta .meta-author:after {
	display: none;
}

body.date-hidden.author-hidden.categories-hidden .content-area .type-post .entry-meta {
	display: none;
}

/* Entry Tags & Tagcloud Widget */
.entry-tags {
	margin: 0 0 2em;
}

.widget_tag_cloud .tagcloud,
.entry-tags .meta-tags {
	font-size: 14px;
	font-size: 0.875rem;
}

.widget_tag_cloud .tagcloud:before,
.widget_tag_cloud .tagcloud:after,
.entry-tags .meta-tags:before,
.entry-tags .meta-tags:after {
	display: table;
	content: "";
}

.widget_tag_cloud .tagcloud:after,
.entry-tags .meta-tags:after {
	clear: both;
}

.widget_tag_cloud .tagcloud a,
.entry-tags .meta-tags a {
	display: inline-block;
	float: left;
	margin: 0 2px 2px 0;
	padding: 0.2em 0.5em 0.3em;
	background: #4477aa;
	text-decoration: none;
	font-size: 14px !important;
	font-size: 0.875rem !important;
}

.widget_tag_cloud .tagcloud a:link,
.widget_tag_cloud .tagcloud a:visited,
.entry-tags .meta-tags a:link,
.entry-tags .meta-tags a:visited {
	color: #fff;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.widget_tag_cloud .tagcloud a:hover,
.widget_tag_cloud .tagcloud a:active,
.entry-tags .meta-tags a:hover,
.entry-tags .meta-tags a:active {
	background: #111133;
	color: #fff;
}

/* Post Navigation */
.post-navigation {
	margin: 0;
	padding: 1em 0;
	border-top: 2px solid #eee;
}

.post-navigation .nav-links .nav-previous {
	float: left;
}

.post-navigation .nav-links .nav-next {
	float: right;
}

.post-navigation .nav-links .nav-previous a:before {
	margin-right: 3px;
	content: "\00AB";
}

.post-navigation .nav-links .nav-next a:after {
	margin-left: 4px;
	content: "\00BB";
}

.post-navigation .nav-links a {
	display: inline-block;
	margin: 0 0 3px;
	padding: 0.3em 0.8em;
	background: #111133;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	font-size: 0.875rem;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.post-navigation .nav-links a:link,
.post-navigation .nav-links a:visited  {
	color: #fff;
}

.post-navigation .nav-links a:hover,
.post-navigation .nav-links a:active {
	background: #4477aa;
}

/*--------------------------------------------------------------
## 12.2 - Post Archives
--------------------------------------------------------------*/

/* Archive Title */
.page-header {
	margin-bottom: 2.5em;
}

.page-header .blog-description,
.page-header .archive-description {
	font-size: 20px;
	font-size: 1.25rem;
}

.page-header .blog-description,
.page-header .archive-description p {
	margin: 0.5em 0 0;
}

/* Archive Posts Styling */
.post-wrapper .type-post .entry-content {
	font-size: 16px;
	font-size: 1rem;
}

.post-wrapper .type-post .entry-excerpt p {
	margin: 0.5em 0 1em;
}

.post-wrapper .type-post .entry-meta {
	margin-bottom: 0.5em;
	font-size: 14px;
	font-size: 0.875rem;
}

/* Archive Posts Columns */
.post-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -2.5em;
}

.post-wrapper .post-column {
	box-sizing: border-box;
	padding-right: 2.5em;
}

/* Two Column Layout */
.post-layout-two-columns .post-wrapper .post-column {
	width: 50%;
}

.post-layout-two-columns .post-wrapper .type-post .entry-title {
	font-size: 32px;
	font-size: 2rem;
}

/* Three Column Layout */
.post-layout-three-columns .post-wrapper .post-column {
	width: 33.3333333333333%;
}

.post-layout-three-columns .post-wrapper .type-post .entry-title {
	font-size: 24px;
	font-size: 1.5rem;
}

/* Four Column Layout */
.post-layout-four-columns .post-wrapper .post-column {
	width: 25%;
}

.post-layout-four-columns .post-wrapper .type-post .entry-title {
	font-size: 20px;
	font-size: 1.25rem;
}

/* Theme Pagination */
.pagination {
	margin: 0 0 2.5em;
}

.pagination a,
.pagination .current {
	display: inline-block;
	margin: 0 2px 2px 0;
	padding: 0.4em 0.9em;
	background: #111133;
	color: #fff;
	text-align: center;
	text-decoration: none;
}

.pagination a:link,
.pagination a:visited {
	color: #fff;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.pagination a:hover,
.pagination .current {
	background: #4477aa;
}

/* Infinite Scroll Pagination */
.infinite-scroll .pagination {
	display: none;
}

.infinite-scroll #infinite-handle,
.infinite-scroll .infinite-loader {
	width: 100%;
	text-align: center;
}

.infinite-scroll .infinite-loader .spinner {
	bottom: -1em;
	left: auto;
	margin: 0 auto;
}

.infinite-scroll #infinite-handle span {
	display: inline-block;
	margin: 0 0 2.5em;
	padding: 0.3em 0.8em;
	background: #111133;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	font-size: 0.875rem;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.infinite-scroll #infinite-handle span:hover {
	background-color: #4477aa;
}

/* Breadcrumbs */
.breadcrumbs {
	margin: 0;
	border-bottom: 1px solid rgba(0,0,0,0.05);
}

.breadcrumbs-container {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background: #fff;
	color: #222;
	font-size: 14px;
	font-size: 0.875rem;
}

.breadcrumbs .trail-browse,
.breadcrumbs .trail-items,
.breadcrumbs .trail-items li {
	display: inline;
	margin: 0;
	padding: 0;
}

.breadcrumbs .trail-browse {
	margin-right: 0.5em;
	font-weight: normal;
	font-size: 14px;
	font-size: 0.875rem;
}

.breadcrumbs .trail-items {
	list-style: none;
}

.breadcrumbs .trail-items li::after {
	padding: 0 0.5em;
	content: "\00bb"; /* Raquo */
}

.trail-separator-slash .trail-items li::after { content: "\002F"; }
.trail-separator-dash .trail-items li::after { content: "\2013"; }
.trail-separator-bull .trail-items li::after { content: "\2022"; }
.trail-separator-arrow-bracket .trail-items li::after { content: "\003e"; }
.trail-separator-raquo .trail-items li::after { content: "\00bb"; }
.trail-separator-single-arrow .trail-items li::after { content: "\2192"; }
.trail-separator-double-arrow .trail-items li::after { content: "\21D2"; }

.breadcrumbs .trail-items li:last-of-type::after {
	display: none;
}
