.type-post,
.type-page,
.type-attachment  {
	margin: 0 0 2.5em 0;
	max-width: 100%;
}

.archive-title,
.page-title,
.entry-title {
	display: inline;
	margin: 0;
	padding: 0;
	color: #111133;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	font-weight: bold;
	font-size: 40px;
	font-size: 2.5rem;
	font-family: 'Roboto Slab', Georgia, Times New Roman;
}

.entry-title a:link,
.entry-title a:visited {
	color: #111133;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.entry-title a:hover,
.entry-title a:active {
	color: #4477aa;
}

.entry-content {
	font-size: 17px;
	font-size: 1.0625rem;
}

.entry-content a {
	text-decoration: underline;
}

.wp-post-image {
	margin: 0 0 0.5em;
}

/* Page Links */
.page-links {
	margin: 0 0 1.5em;
	word-spacing: 0.75em;
	font-weight: bold;
}
