.type-post,
.type-page,
.type-attachment {
	margin: 0 0 2.5em 0;
	max-width: 100%;
}

.archive-title,
.page-title,
.entry-title {
	display: inline;
	margin: 0;
	padding: 0;
	@include color(--title-color);
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	@include font-size(40);
	@include font-family(--title-font);
	@include font-weight(--title-font-weight);
	@include text-transform(--title-text-transform);
	@include line-height(--title-line-height);
}

.entry-title a:link,
.entry-title a:visited {
	@include color(--title-color);
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.entry-title a:hover,
.entry-title a:active {
	@include color(--title-hover-color);
}

.entry-content {
	@include font-size(17);
}

.entry-content a {
	text-decoration: underline;
}

.wp-post-image {
	margin: 0 0 0.5em;
}

/* Page Links */
.page-links {
	margin: 0 0 1.5em;
	word-spacing: 0.75em;
	font-weight: bold;
}
