/* Read more Link */
.more-link {
	display: inline-block;
	margin: 0;
	padding: 0.3em 0.8em;
	@include background(--button-color);
	@include color(--button-text-color);
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	font-size: 0.875rem;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.more-link:link,
.more-link:visited {
	@include color(--button-text-color);
}

.more-link:hover,
.more-link:active {
	@include background(--button-hover-color);
	@include color(--button-hover-text-color);
}

.entry-content .more-link {
	text-decoration: none;
}
