/*
 * Safari Flexbox CSS Fixes
 *
 * @package Gridbox
 */

/* Fix Flexbox issues for Safari 6.1-10.0 */
@media screen and ( min-color-index: 0 ) and ( -webkit-min-device-pixel-ratio: 0 ) {
	@media {
		.magazine-grid .magazine-grid-post,
		.post-wrapper .post-column,
		.featured-posts .grid-post {
			margin-right: -1px;
		}
	}
}

/* Fix Flexbox issues for Safari 10.1+ */
@media not all and ( min-resolution: .001dpcm ) {
	@media {
		.magazine-grid .magazine-grid-post,
		.post-wrapper .post-column,
		.featured-posts .grid-post {
			margin-right: -1px;
		}
	}
}
