.footer-wrap {
	@include background(--footer-background-color);
}

.site-footer {
	@include color(--footer-text-color);
	font-size: 14px;
	font-size: 0.875rem;
}

.site-footer a:link,
.site-footer a:visited {
	@include color(--footer-link-color);
}

.site-footer a:hover,
.site-footer a:active {
	@include color(--footer-link-hover-color);
}

.site-footer .site-info {
	padding: 2em 0;
}
