.footer-wrap {
	background: #111133;
}

.site-footer {
	color: rgba(255,255,255,0.6);
	font-size: 14px;
	font-size: 0.875rem;
}

.site-footer a:link,
.site-footer a:visited {
	color: #fff;
}

.site-footer a:hover,
.site-footer a:active {
	color: rgba(255,255,255,0.6);
}

.site-footer .site-info {
	padding: 2em 0;
}
