/* Editor Block Styles */
.editor-styles-wrapper .wp-block-heading.is-style-widget-title {
	margin-top: 0;
	padding: 0 0 0 0.8em;
	border-left: 6px solid;
	@include border-color(--widget-title-border-color);
	@include color(--widget-title-color);
	@include font-size(16);
	@include font-family(--widget-title-font);
	@include font-weight(--widget-title-font-weight);
	@include text-transform(--widget-title-text-transform);
	@include line-height(--title-line-height);
}
