@media only screen and (max-width: 80em) {
	.container {
		padding-right: 2em;
		padding-left: 2em;
	}

	.site-content {
		padding-top: 2em;
	}

	.content-single {
		padding-right: 2em;
	}

	.widget,
	.page-header,
	.type-post,
	.type-page,
	.type-attachment,
	.pagination,
	.comments-area {
		margin-bottom: 2em;
	}

	/* Post Columns */
	.post-wrapper,
	.magazine-grid {
		margin-right: -2em;
	}

	.post-wrapper .post-column,
	.magazine-grid .magazine-grid-post {
		padding-right: 2em;
	}

	.post-layout-two-columns .post-wrapper .type-post .entry-title,
	.magazine-two-columns-grid .magazine-grid-post .type-post .entry-title {
		font-size: 28px;
		font-size: 1.75rem;
	}

	/* Featured Posts */
	.featured-posts-wrap {
		margin: 0 0 2em;
	}

	.featured-posts .grid-post .type-post .entry-title {
		font-size: 24px;
		font-size: 1.5rem;
	}

	.featured-posts .grid-post:nth-child(1) .type-post .entry-title,
	.featured-posts .grid-post:nth-child(2) .type-post .entry-title {
		font-size: 32px;
		font-size: 2rem;
	}

}

/*--------------------------------------------------------------
## 18.2 - Desktop Large ( < 1120px )
--------------------------------------------------------------*/
@media only screen and (max-width: 70em) {
	.archive-title,
	.page-title,
	.entry-title,
	.widget-magazine-posts .widget-header .widget-title {
		font-size: 36px;
		font-size: 2.25rem;
	}

	.page-header .blog-description,
	.page-header .archive-description,
	.widget-magazine-posts .widget-header .category-description {
		font-size: 18px;
		font-size: 1.125rem;
	}

	.post-layout-two-columns .post-wrapper .type-post .entry-title,
	.magazine-two-columns-grid .magazine-grid-post .type-post .entry-title {
		font-size: 24px;
		font-size: 1.5rem;
	}

	.post-layout-three-columns .post-wrapper .type-post .entry-title,
	.magazine-three-columns-grid .magazine-grid-post .type-post .entry-title {
		font-size: 22px;
		font-size: 1.375rem;
	}

	.post-layout-four-columns .post-wrapper .type-post .entry-title,
	.magazine-four-columns-grid .magazine-grid-post .type-post .entry-title {
		font-size: 18px;
		font-size: 1.125rem;
	}

	/* Featured Posts */
	.featured-posts .grid-post .type-post .post-content {
		right: 1em;
		bottom: 1em;
		left: 1em;
	}

	.featured-posts .grid-post .type-post .entry-title {
		font-size: 22px;
		font-size: 1.375rem;
	}

	.featured-posts .grid-post:nth-child(1) .type-post .entry-title,
	.featured-posts .grid-post:nth-child(2) .type-post .entry-title {
		font-size: 28px;
		font-size: 1.75rem;
	}

}

/*--------------------------------------------------------------
## 18.3 - Desktop Small ( < 960px )
--------------------------------------------------------------*/
@media only screen and (max-width: 60em) {
	.header-bar {
		padding: 0 1.25em;
	}

	.archive-title,
	.page-title,
	.entry-title,
	.widget-magazine-posts .widget-header .widget-title {
		font-size: 32px;
		font-size: 2rem;
	}

	.page-header .blog-description,
	.page-header .archive-description,
	.widget-magazine-posts .widget-header .category-description {
		font-size: 16px;
		font-size: 1rem;
	}

	/* Post Columns */
	.post-layout-four-columns .post-wrapper .post-column,
	.magazine-four-columns-grid .magazine-grid-post {
		width: 50%;
	}

	.post-layout-two-columns .post-wrapper .type-post .entry-title,
	.post-layout-four-columns .post-wrapper .type-post .entry-title,
	.magazine-two-columns-grid .magazine-grid-post .type-post .entry-title,
	.magazine-four-columns-grid .magazine-grid-post .type-post .entry-title {
		font-size: 22px;
		font-size: 1.375rem;
	}

	.post-layout-three-columns .post-wrapper .type-post .entry-title,
	.magazine-three-columns-grid .magazine-grid-post .type-post .entry-title {
		font-size: 20px;
		font-size: 1.25rem;
	}

	/* Featured Posts */
	.featured-posts .grid-post .type-post .post-content {
		right: 0.5em;
		bottom: 0.5em;
		left: 0.5em;
	}

	.featured-posts .grid-post .type-post .entry-title {
		font-size: 18px;
		font-size: 1.125rem;
	}

	.featured-posts .grid-post:nth-child(1) .type-post .entry-title,
	.featured-posts .grid-post:nth-child(2) .type-post .entry-title {
		font-size: 24px;
		font-size: 1.5rem;
	}

	/*** Mobile Main Navigation ***/

	/* Reset */
	.primary-navigation {
		float: none;
		margin: 0;
	}

	.main-navigation-menu li {
		position: static;
		float: none;
	}

	.main-navigation-menu ul,
	.mega-menu-item .mega-menu-content,
	.mega-menu-item .mega-menu-content .mega-menu-widget {
		position: static;
		top: auto;
		left: auto;
		display: block;
	}

	.main-navigation-menu ul a {
		float: none;
		width: auto;
	}

	.main-navigation-menu li ul ul {
		top: auto;
		left: auto;
		margin: 0;
	}

	.main-navigation-menu > .menu-item-has-children > a:after,
	.main-navigation-menu ul .menu-item-has-children > a:after {
		display: none;
	}

	/* Main Navigation Toggle */
	.main-navigation-toggle {
		display: inline-block;
		float: right;
		margin: 1em 0 0;
		padding: 1em;
		color: #fff;
		background: none;
	}

	.main-navigation-toggle:focus {
		color: #fff;
		background: none;
	}

	.main-navigation-toggle:hover,
	.main-navigation-toggle:active {
		color: rgba(255,255,255,0.6);
		background: none;
		cursor: pointer;
	}

	.main-navigation-toggle:after {
		display: inline-block;
		float: left;
		content: '\f419';
		vertical-align: middle;
		text-decoration: inherit;
		font-size: 32px;
		font-family: 'Genericons';
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	/* Main Navigation Menu */
	.main-navigation-menu {
		display: none;
		float: left;
		margin-bottom: 2em;
		width: 100%;
		border-bottom: 1px solid rgba(255,255,255,0.1);
	}

	.main-navigation-menu li {
		margin: 0;
	}

	.main-navigation-menu a {
		display: block;
		clear: left;
		padding: 1.2em;
		border-top: 1px solid rgba(255,255,255,0.1);
	}

	.main-navigation-menu ul {
		float: none;
		padding: 0;
		width: 100%;
		border: none;
	}

	.main-navigation-menu ul a {
		display: block;
		padding-left: 2em;
		width: 100%;
	}

	.main-navigation-menu ul li ul a {
		padding-left: 4em;
	}

	.main-navigation-menu ul li ul li ul a {
		padding-left: 6em;
	}

	.main-navigation-menu ul li ul li ul li ul a {
		padding-left: 8em;
	}

	.main-navigation-menu li ul ul {
		border: none;
	}

	/* Mobile Submenu Dropdowns */
	.main-navigation-menu .submenu-dropdown-toggle {
		display: block;
		float: right;
		margin: 0;
		padding: 1em 1.2em;
		color: #fff;
		background: none;
	}

	.main-navigation-menu .submenu-dropdown-toggle:hover {
		color: rgba(255,255,255,0.6);
		cursor: pointer;
	}

	.main-navigation-menu .submenu-dropdown-toggle:before {
		content: '\f431';
		vertical-align: middle;
		text-decoration: inherit;
		font-size: 32px;
		font-family: 'Genericons';
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.main-navigation-menu .submenu-dropdown-toggle.active:before {
		content: '\f432';
	}

	.main-navigation-menu ul .submenu-dropdown-toggle {
		padding: 0.6em 1em;
	}

	.main-navigation-menu ul .submenu-dropdown-toggle:before {
		font-size: 24px;
	}

	/* Mega Menu Styling */
	.mega-menu-item .mega-menu-content {
		border-bottom: 1px solid rgba(255,255,255,0.1);
	}

	.mega-menu-item .mega-menu-two-columns > li,
	.mega-menu-item .mega-menu-three-columns > li,
	.mega-menu-item .mega-menu-five-columns > li {
		width: 100%;
	}

	.mega-menu-item .mega-menu-four-columns > li,
	.mega-menu-item .mega-menu-six-columns > li {
		width: 50%;
	}
}

/*--------------------------------------------------------------
## 18.4 - Tablet Large ( < 880px )
--------------------------------------------------------------*/
@media only screen and (max-width: 55em) {
	.content-single {
		float: none;
		padding: 0;
		width: 100%;
	}

	.sidebar {
		float: none;
		margin: 0;
		padding: 2em 0 0;
		width: 100%;
		border-top: 2px solid #eee;
	}

}

/*--------------------------------------------------------------
## 18.5 - Tablet Medium ( < 800px )
--------------------------------------------------------------*/
@media only screen and (max-width: 50em) {
	/* Post Columns */
	.post-layout-three-columns .post-wrapper .post-column {
		width: 50%;
	}

	.post-layout-two-columns .post-wrapper .type-post .entry-title,
	.post-layout-three-columns .post-wrapper .type-post .entry-title,
	.post-layout-four-columns .post-wrapper .type-post .entry-title,
	.magazine-two-columns-grid .magazine-grid-post .type-post .entry-title,
	.magazine-three-columns-grid .magazine-grid-post .type-post .entry-title,
	.magazine-four-columns-grid .magazine-grid-post .type-post .entry-title {
		font-size: 20px;
		font-size: 1.25rem;
	}

	.magazine-three-columns-grid .magazine-grid-post {
		width: 100%;
	}

	.magazine-three-columns-grid .magazine-grid-post .wp-post-image {
		float: left;
		margin: 0 2em 0 0;
		max-width: 50%;
	}

	/* Featured Posts */
	.featured-posts .grid-post,
	.featured-posts .grid-post:nth-child(2) {
		width: 50%;
	}

	.featured-posts .grid-post:nth-child(1) {
		width: 100%;
	}

	.featured-posts .grid-post .type-post .entry-title,
	.featured-posts .grid-post:nth-child(2) .type-post .entry-title {
		font-size: 22px;
		font-size: 1.375rem;
	}

	.featured-posts .grid-post:nth-child(1) .type-post .entry-title {
		font-size: 32px;
		font-size: 2rem;
	}

	/* Gallery */
	.gallery-columns-6 .gallery-item,
	.gallery-columns-7 .gallery-item,
	.gallery-columns-8 .gallery-item,
	.gallery-columns-9 .gallery-item {
		max-width: 25%;
	}
}

/*--------------------------------------------------------------
## 18.7 - Mobile Extra Large ( < 640px )
--------------------------------------------------------------*/
@media only screen and (max-width: 40em) {
	.archive-title,
	.page-title,
	.entry-title,
	.widget-magazine-posts .widget-header .widget-title {
		font-size: 28px;
		font-size: 1.75rem;
	}

	.post-layout-two-columns .post-wrapper .type-post .entry-title,
	.post-layout-three-columns .post-wrapper .type-post .entry-title,
	.post-layout-four-columns .post-wrapper .type-post .entry-title,
	.magazine-two-columns-grid .magazine-grid-post .type-post .entry-title,
	.magazine-three-columns-grid .magazine-grid-post .type-post .entry-title,
	.magazine-four-columns-grid .magazine-grid-post .type-post .entry-title {
		font-size: 18px;
		font-size: 1.125rem;
	}

	/* Featured Posts */
	.featured-posts .grid-post .type-post .entry-title,
	.featured-posts .grid-post:nth-child(2) .type-post .entry-title {
		font-size: 18px;
		font-size: 1.125rem;
	}

	.featured-posts .grid-post:nth-child(1) .type-post .entry-title {
		font-size: 28px;
		font-size: 1.75rem;
	}

	/* Mega Menu Styling */
	.mega-menu-item .mega-menu-four-columns > li,
	.mega-menu-item .mega-menu-six-columns > li {
		width: 100%;
	}

}

/*--------------------------------------------------------------
## 18.9 - Mobile Medium ( < 480px )
--------------------------------------------------------------*/
@media only screen and (max-width: 30em) {
	.container {
		padding-right: 1.5em;
		padding-left: 1.5em;
	}

	.site-content {
		padding-top: 1.5em;
	}

	.widget,
	.page-header,
	.type-post,
	.type-page,
	.type-attachment,
	.pagination,
	.comments-area {
		margin-bottom: 1.5em;
	}

	.archive-title,
	.page-title,
	.entry-title,
	.widget-magazine-posts .widget-header .widget-title {
		font-size: 24px;
		font-size: 1.5rem;
	}

	.alignright, .alignleft {
		float: none;
		margin: 1em 0;
	}

	/* Post Columns */
	.post-wrapper,
	.magazine-grid {
		display: block;
		margin-right: 0;
	}

	.post-wrapper .post-column,
	.magazine-grid .magazine-grid-post {
		display: block;
		padding-right: 0;
	}

	.post-layout-two-columns .post-wrapper .post-column,
	.post-layout-three-columns .post-wrapper .post-column,
	.post-layout-four-columns .post-wrapper .post-column,
	.magazine-two-columns-grid .magazine-grid-post,
	.magazine-three-columns-grid .magazine-grid-post,
	.magazine-four-columns-grid .magazine-grid-post {
		width: 100%;
	}

	.magazine-three-columns-grid .magazine-grid-post .wp-post-image {
		float: none;
		margin: 0 0 0.5em;
		max-width: 100%;
	}

	.post-layout-two-columns .post-wrapper .type-post .entry-title,
	.post-layout-three-columns .post-wrapper .type-post .entry-title,
	.post-layout-four-columns .post-wrapper .type-post .entry-title,
	.magazine-two-columns-grid .magazine-grid-post .type-post .entry-title,
	.magazine-three-columns-grid .magazine-grid-post .type-post .entry-title,
	.magazine-four-columns-grid .magazine-grid-post .type-post .entry-title {
		font-size: 24px;
		font-size: 1.5rem;
	}

	/* Featured Posts */
	.featured-posts-wrap {
		margin: 0 0 1.5em;
	}

	.featured-posts .grid-post:nth-child(n+2) .type-post .post-content {
		display: none;
	}

	.featured-posts .grid-post:nth-child(1) .type-post .entry-title {
		font-size: 24px;
		font-size: 1.5rem;
	}

	/* Gallery */
	.gallery-item {
		padding: 0.75em 1em 0 0;
	}

	.gallery-columns-4 .gallery-item,
	.gallery-columns-5 .gallery-item,
	.gallery-columns-6 .gallery-item,
	.gallery-columns-7 .gallery-item,
	.gallery-columns-8 .gallery-item,
	.gallery-columns-9 .gallery-item {
		max-width: 50%;
	}
}

/*--------------------------------------------------------------
## 18.10 - Mobile Small ( < 320px )
--------------------------------------------------------------*/
@media only screen and (max-width: 20em) {
	.site-branding .site-title {
		font-size: 24px;
		font-size: 1.5rem;
	}

	.main-navigation-toggle:after {
		font-size: 24px;
	}

	.archive-title,
	.page-title,
	.entry-title,
	.widget-magazine-posts .widget-header .widget-title {
		font-size: 20px;
		font-size: 1.25rem;
	}

	.post-layout-two-columns .post-wrapper .type-post .entry-title,
	.post-layout-three-columns .post-wrapper .type-post .entry-title,
	.post-layout-four-columns .post-wrapper .type-post .entry-title,
	.magazine-two-columns-grid .magazine-grid-post .type-post .entry-title,
	.magazine-three-columns-grid .magazine-grid-post .type-post .entry-title,
	.magazine-four-columns-grid .magazine-grid-post .type-post .entry-title {
		font-size: 20px;
		font-size: 1.25rem;
	}

	/* Featured Post */
	.featured-posts .grid-post:nth-child(1) .type-post .entry-title {
		font-size: 20px;
		font-size: 1.25rem;
	}

}
