@media only screen and (max-width: 70em) {
	.archive-title,
	.page-title,
	.entry-title,
	.widget-magazine-posts .widget-header .widget-title {
		font-size: 36px;
		font-size: 2.25rem;
	}

	.page-header .blog-description,
	.page-header .archive-description,
	.widget-magazine-posts .widget-header .category-description {
		font-size: 18px;
		font-size: 1.125rem;
	}

	.post-layout-two-columns .post-wrapper .type-post .entry-title,
	.magazine-two-columns-grid .magazine-grid-post .type-post .entry-title {
		font-size: 24px;
		font-size: 1.5rem;
	}

	.post-layout-three-columns .post-wrapper .type-post .entry-title,
	.magazine-three-columns-grid .magazine-grid-post .type-post .entry-title {
		font-size: 22px;
		font-size: 1.375rem;
	}

	.post-layout-four-columns .post-wrapper .type-post .entry-title,
	.magazine-four-columns-grid .magazine-grid-post .type-post .entry-title {
		font-size: 18px;
		font-size: 1.125rem;
	}
}

@media only screen and (max-width: 60em) {
	.archive-title,
	.page-title,
	.entry-title,
	.widget-magazine-posts .widget-header .widget-title {
		font-size: 32px;
		font-size: 2rem;
	}

	.page-header .blog-description,
	.page-header .archive-description,
	.widget-magazine-posts .widget-header .category-description {
		font-size: 16px;
		font-size: 1rem;
	}

	.post-layout-two-columns .post-wrapper .type-post .entry-title,
	.post-layout-four-columns .post-wrapper .type-post .entry-title,
	.magazine-two-columns-grid .magazine-grid-post .type-post .entry-title,
	.magazine-four-columns-grid .magazine-grid-post .type-post .entry-title {
		font-size: 22px;
		font-size: 1.375rem;
	}

	.post-layout-three-columns .post-wrapper .type-post .entry-title,
	.magazine-three-columns-grid .magazine-grid-post .type-post .entry-title {
		font-size: 20px;
		font-size: 1.25rem;
	}
}

@media only screen and (max-width: 50em) {
	.post-layout-two-columns .post-wrapper .type-post .entry-title,
	.post-layout-three-columns .post-wrapper .type-post .entry-title,
	.post-layout-four-columns .post-wrapper .type-post .entry-title,
	.magazine-two-columns-grid .magazine-grid-post .type-post .entry-title,
	.magazine-three-columns-grid .magazine-grid-post .type-post .entry-title,
	.magazine-four-columns-grid .magazine-grid-post .type-post .entry-title {
		font-size: 20px;
		font-size: 1.25rem;
	}
}

@media only screen and (max-width: 40em) {
	.archive-title,
	.page-title,
	.entry-title,
	.widget-magazine-posts .widget-header .widget-title {
		font-size: 28px;
		font-size: 1.75rem;
	}

	.post-layout-two-columns .post-wrapper .type-post .entry-title,
	.post-layout-three-columns .post-wrapper .type-post .entry-title,
	.post-layout-four-columns .post-wrapper .type-post .entry-title,
	.magazine-two-columns-grid .magazine-grid-post .type-post .entry-title,
	.magazine-three-columns-grid .magazine-grid-post .type-post .entry-title,
	.magazine-four-columns-grid .magazine-grid-post .type-post .entry-title {
		font-size: 18px;
		font-size: 1.125rem;
	}
}

@media only screen and (max-width: 30em) {
	.archive-title,
	.page-title,
	.entry-title,
	.widget-magazine-posts .widget-header .widget-title {
		font-size: 24px;
		font-size: 1.5rem;
	}

	.post-layout-two-columns .post-wrapper .type-post .entry-title,
	.post-layout-three-columns .post-wrapper .type-post .entry-title,
	.post-layout-four-columns .post-wrapper .type-post .entry-title,
	.magazine-two-columns-grid .magazine-grid-post .type-post .entry-title,
	.magazine-three-columns-grid .magazine-grid-post .type-post .entry-title,
	.magazine-four-columns-grid .magazine-grid-post .type-post .entry-title {
		font-size: 24px;
		font-size: 1.5rem;
	}
}

@media only screen and (max-width: 20em) {
	.site-branding .site-title {
		font-size: 24px;
		font-size: 1.5rem;
	}

	.archive-title,
	.page-title,
	.entry-title,
	.widget-magazine-posts .widget-header .widget-title {
		font-size: 20px;
		font-size: 1.25rem;
	}

	.post-layout-two-columns .post-wrapper .type-post .entry-title,
	.post-layout-three-columns .post-wrapper .type-post .entry-title,
	.post-layout-four-columns .post-wrapper .type-post .entry-title,
	.magazine-two-columns-grid .magazine-grid-post .type-post .entry-title,
	.magazine-three-columns-grid .magazine-grid-post .type-post .entry-title,
	.magazine-four-columns-grid .magazine-grid-post .type-post .entry-title {
		font-size: 20px;
		font-size: 1.25rem;
	}
}
