
/*--------------------------------------------------------------
## 19.1 - Sidebar Left Layout
--------------------------------------------------------------*/
.sidebar-left .content-single {
	float: right;
	padding-right: 0;
	padding-left: 4em;
}

.sidebar-left .sidebar {
	float: left;
}

@media only screen and (max-width: 80em) {
	.sidebar-left .content-single {
		padding-left: 2em;
	}

}

@media only screen and (max-width: 55em) {
	.sidebar-left .content-single {
		float: none;
		padding: 0;
		width: 100%;
	}

}

/*--------------------------------------------------------------
## 19.2 - Sticky Header
--------------------------------------------------------------*/
@media only screen and (min-width: 60.001em) {
	.sticky-header .site-header {
		position: fixed;
		top: 0;
		z-index: 100;
		width: 100%;
	}

	.sticky-header .site-header .site-branding,
	.sticky-header .site-header .primary-navigation {
		margin: 0.5em 0;
		-webkit-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}

	.sticky-header .site-header .site-description {
		display: none;
	}

	.sticky-header.admin-bar .site-header  {
		top: 32px;
	}

	.sticky-header .header-bar-wrap {
		display: none;
	}
}

@media only screen and (max-width: 60em) {
	.sticky-header {
		padding-top: 0 !important;
	}
}

/*--------------------------------------------------------------
22.0 Customizer Preview
--------------------------------------------------------------*/
.magazine-widgets-placeholder {
	position: relative;
}

.magazine-widgets-placeholder .magazine-widgets-placeholder-title {
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	padding: 1em 1em 1em 55px;
	color: #0085ba;
	border: 2px dashed #0085ba;
}

/* Add some styling for visual edit shortcut buttons. */
.magazine-widgets-placeholder .customize-partial-edit-shortcut button {
	left: 15px;
	top: 12px;
}

.customize-partial-edit-shortcut-gridbox_blog_layout_partial button {
	top: 50px;
}
