.widget {
	margin: 0 0 2.5em 0;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.widget-header {
	margin: 0 0 1.25em 0;
	border-left: 6px solid;
	@include border-color(--widget-title-border-color);
}

.widget-title {
	display: inline-block;
	margin: 0;
	padding: 0 0 0 0.8em;
	@include color(--widget-title-color);
	@include font-size(16);
	@include font-family(--widget-title-font);
	@include font-weight(--widget-title-font-weight);
	@include text-transform(--widget-title-text-transform);
	@include line-height(--title-line-height);
}

.widget ul {
	margin: 0;
	padding: 0 0.3em;
	list-style: circle inside;
}

.widget ul .children,
.widget ul .sub-menu {
	margin: 0.5em 0 0.5em 1em;
	padding: 0;
}

.widget-title a:link,
.widget-title a:visited {
	@include color(--widget-title-color);
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.widget-title a:hover,
.widget-title a:active {
	@include color(--widget-title-hover-color);
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}
